.formContainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-top: 5%;
}

.headingLarge {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.headingMedium {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.inputField {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: #007bff;
  outline: none;
}

.submitButton {
  padding: 10px 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.errorMessage {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 10px;
}

.successMessage {
  color: #28a745;
  font-size: 14px;
  margin-top: 10px;
}

.courseList,
.sectionList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.courseItem,
.sectionItem {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.courseItem:hover,
.sectionItem:hover {
  background-color: #f1f1f1;
}

.courseItemFlex,
.sectionItemFlex {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  box-sizing: border-box;
}

.searchInput {
  width: 100%;
  padding: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 2px solid #ddd;
  font-size: 1rem;
  box-sizing: border-box;
}

.inputGroup label,
.inputGroup input {
  font-size: 1.5rem;
}

.instructorList {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 300px; /* 스크롤 가능한 높이 */
  overflow-y: auto; /* 리스트가 많을 경우 스크롤 추가 */
  border: 1px solid #ddd;
  border-radius: 4px;
}

.listItem {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  display: flex; /* 플렉스 박스 사용 */
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  width: 100%; /* li가 전체 너비를 차지하도록 설정 */
  box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

.listItem:hover {
  background-color: #f1f1f1; /* 호버 시 배경색 */
}
