.attendanceSummary {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 5%;
}

.subjectContainer {
  margin-bottom: 20px;
}

.subjectButton {
  width: 100%;
  padding: 15px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subjectButton:hover {
  background-color: #005bb5;
}

.subjectInfo {
  flex-grow: 1;
}

.attendanceInfo {
  margin-left: 20px;
  white-space: nowrap;
  flex-grow: 1;
  text-align: center;
}

.arrow {
  font-size: 1.2rem;
  margin-left: 20px;
}

.dropdown {
  margin-top: 10px;
  padding-left: 20px;
  border-left: 3px solid #0070f3;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 15px;
}

.attendanceDetails {
  margin-top: 10px;
}

.attendanceDetails div {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .subjectButton {
    font-size: 1.3rem;
  }

  .attendanceInfo {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .subjectButton {
    font-size: 1.1rem;
  }

  .attendanceInfo {
    margin-left: 5px;
    white-space: normal;
    text-align: left;
  }
}
